* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  /* Optional: prevents overscroll bounce effect on Mac/iOS for a cleaner feel */
  overscroll-behavior: none;

}

.example::-webkit-scrollbar {
  display: none;
}

/* Recommended: Removes potential whitespace gap under the 3D canvas */
canvas {
  display: block;
}